
@font-face {
  font-display: swap;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-v13-latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-condensed-v13-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap; 
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/bellefair-v15-latin-regular.woff2') format('woff2'); 
}

body{
    font-family: "Barlow";
    background-image: url("../images/zufar-bg.png");
    background-repeat: no-repeat;
    background-size: cover  ;
}
.navbar{
    backdrop-filter: blur(81.54845428466797px)
}
.containers{
  width: 1200px;
  margin: 0 auto;
}
.zufar-item1{
   font-family: "Barlow Condensed";
   font-weight: 400;
}
.zufar-left h1{
  font-family: "Bellefair";
  font-weight: 400;
}


.zufar-item{
  font-family: "Barlow";  
  font-weight: 400;
}